@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*----------------------------------------------colours*/


.bg-color-name-title {
    background-color: #676767;
    color: white;


/*----------------------------------------------headings*/


header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/Me.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

